{
  "presets": [
    [
      "@babel/env", {
        "targets": {
          "browsers": [
            "last 5 versions",
            "Android >= 5", 
            "iOS > 8",
            "safari > 8",
            "ie >= 10"
          ]
        },
        "modules": false,
        "useBuiltIns": "entry",
        "loose": true
      }
    ]
  ],
  "plugins": [
    {{#if_eq state 'mobx'}}
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    {{/if_eq}}
    "@babel/plugin-syntax-dynamic-import"
  ]
}
