{
  "presets": ["es2015", "stage-2"],
  {{#if_eq state 'mobx'}}
  "plugins": ["transform-runtime", "transform-decorators-legacy", "transform-class-properties"]
  {{/if_eq}}
  {{#if_eq state 'vuex'}}
  "plugins": ["transform-runtime"]
  {{/if_eq}}
}
