{
    root: true,
    parserOptions: {
        parser: "babel-eslint",
        ecmaVersion: 7,
        sourceType: "module",
        allowImportExportEverywhere: false,
        ecmaFeatures: {
            jsx: true,
            modules: true
        }
    },
    env: {
        es6: true,
        node: true,
        browser: true
    },
    plugins: [
        "vue"
    ],
    extends: ["plugin:vue/recommended"],
    rules: {
        vue/html-quotes: ["error", "single"]
    }
}
